<header class="header">
	<div class="container">
		<h1 class="header__brand-name">Tracalorie</h1>
		<nav class="nav">
			<ul class="nav__links">
				<li class="nav__link-item">
					<a href="signup" class="nav__link">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="icon icon--register"
							viewBox="0 0 16 16"
						>
							<path
								d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
							/>
							<path
								fill-rule="evenodd"
								d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
							/>
						</svg>
						<span>Sign Up</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<div class="container">
	<section class="section section--login">
		<h1 class="title title--login">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="icon icon--login"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
				/>
				<path
					fill-rule="evenodd"
					d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
				/>
			</svg>
			Login
		</h1>
		<form class="form form--login">
			<div class="alert alert--login success" data-login-alert>
				<span data-login-alert-text>Wrong Email or Password</span>
			</div>
			<div class="form__group">
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Enter your email"
					class="form__input"
				/>
			</div>
			<div class="form__group">
				<input
					type="password"
					name="password"
					id="password"
					placeholder="Enter password"
					class="form__input"
				/>
			</div>
			<div class="form__group">
				<button
					type="submit"
					class="button button--submit button--submit-login"
				>
					Submit
				</button>
			</div>
			<h5 class="form__footnote form__footnote--signup-prompt">
				Don't have an account?
				<span>
					<a href="signup" class="form__link form__link--signup">Sign Up</a>
				</span>
			</h5>
		</form>
	</section>
</div>
